:root{
    /* Primary colors */
    --SoftBlue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    /* Neutral Colors */
    --DarkBlueMainBg: hsl(217, 54%, 11%);
    --DarkBlueCardBg: hsl(216, 50%, 16%);
    --DarkBlueLine: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --font:'Outfit', sans-serif;
}  
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background-color: var(--DarkBlueMainBg);
}

.Container{
    position: relative;
    height: 600px;
    width: 350px;
    background-color: var(--DarkBlueCardBg);
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0;
   
    border-radius: 6%/4%;
    
}
div.Container { padding-top: 1px; }

.img-box{
    width: 302px;
    height: 302px;
    background-image: url(./images/image-equilibrium.jpg);
    background-size: cover;
    border-radius: 6%/4%;
    margin: 25px;
    transform: translateY(20px);

}
.img-box:hover::before{
    content: "";
    width: 302px;
    height: 302px;
    background-color: var(--Cyan);
    border-radius: 6%/4%;
    filter: opacity(50%);
    position: absolute;

}
.img-box:hover::after{
    content: url(./images/icon-view.svg);
    position: absolute;
    left: 43%;
    top: 43%;
}
.banner{
    margin-top: 25px;
    margin: 25px;
    transform: translateY(25px);
    font-family: var(--font);
    color: var(--White);
}
.title{
    font-weight: 600;
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 25px;

}
.title:hover{
    color:var(--Cyan);
    cursor: pointer;
    
}
.para{
    font-weight: 300;
    font-size: 18px;
    color: var(--SoftBlue);


}
.pricetime{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.timeimg{
    width: 2px;
    display: inline;
    margin-right: 2px; 
    
}
.time{
    color: var(--SoftBlue); 
    
}

.price{
    color: var(--Cyan);
    
}
.image{
    display: inline;
    margin-right: 2px;
    
}

.line{
    margin-top: 25px;
    height: 2px;
    width: 300px;
    background-color: var(--DarkBlueLine);
}
.developer{
    display: flex;
    text-align: center;
   
}
.developername{
    color:white;
}
.developername:hover{
    color:var(--Cyan);
    cursor: pointer;
}
.creation{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 25px;
}

.developerpic{
    height: 35px;
    width: 35px;
    background-image: url(./images/image-avatar.png);
    background-size: cover;
    margin-top: 16px;
    

}

@media (max-width: 376px) {
    
    .Container{
        max-width: 320px;
    }
    .img-box{
        width: 275px;
    } 
    .line{
        width: 280px;
    }  
}
    
